<p>
  <strong>Temperature:</strong>
  <%= @measurement.temperature %>
</p>
 
<p>
  <strong>Humidity:</strong>
  <%= @measurement.humidity %>
</p>

<p>
  <strong>Pressure:</strong>
  <%= @measurement.pressure %>
</p>
<%= link_to 'Back', measurements_path %>
